<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All web security rules" Description="This rule set contains all Microsoft security rules. Include this rule set to maximize the number of potential security issues that are reported." ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2102" Action="Warning" />
    <Rule Id="CA2103" Action="Warning" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2105" Action="Warning" />
    <Rule Id="CA2106" Action="Warning" />
    <Rule Id="CA2107" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2109" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2118" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2130" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2135" Action="Warning" />
    <Rule Id="CA2136" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2139" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2142" Action="Warning" />
    <Rule Id="CA2143" Action="Warning" />
    <Rule Id="CA2144" Action="Warning" />
    <Rule Id="CA2145" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA5327" Action="Warning" />
    <Rule Id="CA5328" Action="Warning" />
    <Rule Id="CA5329" Action="Warning" />
    <Rule Id="CA5330" Action="Warning" />
    <Rule Id="CA5332" Action="Warning" />
    <Rule Id="CA5333" Action="Warning" />
    <Rule Id="CA5400" Action="Warning" />
    <Rule Id="CA5401" Action="Warning" />
    <Rule Id="CA5402" Action="Warning" />
    <Rule Id="CA5403" Action="Warning" />
    <Rule Id="CA5404" Action="Warning" />
    <Rule Id="CA5405" Action="Warning" />
    <Rule Id="CA5406" Action="Warning" />
    <Rule Id="CA5407" Action="Warning" />
    <Rule Id="CA5408" Action="Warning" />
    <Rule Id="CA5409" Action="Warning" />
    <Rule Id="CA5410" Action="Warning" />
    <Rule Id="CA5411" Action="Warning" />
    <Rule Id="CA5412" Action="Warning" />
    <Rule Id="CA5413" Action="Warning" />
    <Rule Id="CA5414" Action="Warning" />
    <Rule Id="CA5415" Action="Warning" />
    <Rule Id="CA5416" Action="Warning" />
    <Rule Id="CA5417" Action="Warning" />
    <Rule Id="CA5418" Action="Warning" />
    <Rule Id="CA5419" Action="Warning" />
  </Rules>
</RuleSet>