/*
    This is a bunch of text that should be removed upon minification
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
    WAY too many comments. So let me tell you a story.....
*/
.FromOne {
 background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
