@{
    ViewBag.Title = "ViewSortedCustomers";
}

<h2>Attribute Routing got you here</h2>
<pre>
Check out the awesome project at <a href="https://github.com/mccalltd/AttributeRouting/wiki">github attribute routing</a>

There's been talk of putting this into the Microsoft Web Stack source, which would be awesome.
 
</pre>