@{
    ViewBag.Title = "FormsAuthTimeouts";
}

<h2>Forms Auth Timeouts and Session Timeouts</h2>

<pre>
What happens when
<pre id="plain" class='brush: xml'>
    &lt;forms loginUrl=&quot;~/Account/Login&quot; timeout=&quot;2880&quot; /&gt;
    &lt;sessionState mode=&quot;InProc&quot;  timeout=&quot;2880&quot; /&gt;
</pre>
</pre>
    
@section scripts{
    <script src="/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushCSharp.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushXml.js"></script>
    <link href="/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="/Content/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            SyntaxHighlighter.all();
        });
    </script>
}